main{ 
}
h1{
    text-align: center;
}
.vehicleContainer{
    display: grid;
    grid-template-columns: 25% 70%;
    gap: 20px;
    border-radius: 15px;
    margin: auto;
    width: 50%;
    margin-bottom: 20px;
    box-shadow: 5px 5px 25px rgba(124, 124, 124, 0.5);
}
p{
    font-size: large;
}
.plate{
    width: fit-content;
    display: flex;
    flex-direction: row;

}
.plate p{
    margin-top: 0;
    font-size: 34px;
    display: inline-block;
    background-color:gainsboro;
    border-radius: 5px;
}
.plate img{
    height: 40px;
}
.vehicleImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}
.lineInfoOne{
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
}
.lineInfoOne h2{
    font-weight:500;
    margin-bottom: 10px;
}
.combustion{
    margin-top: 0;
    color: rgb(129, 129, 129);
}
.warranty{
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 10px;
}
.additions{
    display: flex;
}
.h4Additions{
    color:rgb(129, 129, 129);
    margin-bottom: 0px;
}
.additions p{
    font-size: small;
    border: 1px solid rgb(129, 129, 129);
    padding: 5px;
    border-radius: 10px;
    margin-right: 10px;
}
.lineInfoStandart{
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 10px;
}
.lineInfoStandart p{
    margin: 0;
}
.mainInfo{
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: space-between;
}
.lightGray{
    
    color: rgb(129, 129, 129);
}

